# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
#.out
*.app

# debug information files
*.dwo

# Khthon project

## Source
vsopc
lexer.cpp
location.hh
parser.cpp
parser.hpp
vsopcompiler.tar.xz

.VSCodeCounter/

.vscode/

build/*


## Report
doc/report/*.pdf
doc/report/*.out
doc/report/*.aux
doc/report/*.fdb_latexmk
doc/report/*.fls
doc/report/*.log
doc/report/*.synctex.gz

# Drawio

*.drawio.bkp
*.drawio.dtm

## Doxygen

doc/doxygen/html
doc/doxygen/latex